<a href="https://colab.research.google.com/github/DogukanCifci/PYTHON-PRACTICE/blob/main/LOOPS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#------RISK ESTIMATING----########

## With in() Method

In [ ]:
message = "Please answer all questions with yes or no " 
print(message,'\n')
age = input('Are you a cigarette addict older than 75 years old? : ')
chronic = input('Do you have a severe chronic disease? : ')
immune = input('Is your immune system too weak? : ')

if age in ('yes', 'no') and chronic in ('yes', 'no') and immune in ('yes', 'no') :  #Burda bütün keyleri yazmak yerine input in(yes or no) gibi hepsini kapsayacak bir keyword var mi ??
  if age == 'no' and chronic == 'no' and  immune == 'no' :
    print('You are not in risky group')
  else :
    answer = False
    print('You are in risky group')

else :
  print('Please answer only with yes or no')

Please answer all questions with yes or no

Are you a cigarette addict older than 75 years old? : yes
Do you have a severe chronic disease? : aslödka
Is your immune system too weak? : no
Please answer only with yes or no

In [ ]:
message = "Please answer all questions with yes or no " ##Actually it is the same as above code
print(message,'\n')
age = input('Are you a cigarette addict older than 75 years old? : ')
chronic = input('Do you have a severe chronic disease? : ')
immune = input('Is your immune system too weak? : ')

if age in ('yes', 'no') and chronic in ('yes', 'no') and immune in ('yes', 'no') :
  if age == 'no' and chronic == 'no' and  immune == 'no' :
    answer = True
  else :
    answer = False
  
  if answer :             #That means if answer == True
    print('You are not in risky group')
  
  else :
    print('You are in risky group')

else :
  print('Please answer only with yes or no')

Please answer all questions with yes or no

Are you a cigarette addict older than 75 years old? : yes
Do you have a severe chronic disease? : no
Is your immune system too weak? : no
You are in risky group

#------MAIL CHECK-----

In [ ]:
while True :
    mail = input("Enter your Email adress")

    control = ('@' and '.' in mail) and mail.endswith('com')
    loc1 = mail.find('@')
    loc2 = mail.find('.', loc1)

    if control == False or loc2 < loc1 :
        print('Invalid Email')
        continue
    
    elif loc2 > loc1 and control == True :
        break
 
print('Valid Email')

Enter your Email adresssadasd
Invalid Email
Enter your Email adressöasd
Invalid Email
Enter your Email adressasd@.com
Valid Email

#-------IF STATEMENTS------

##if li ifadeyi tek satira indigeme

In [54]:
i = 5 
if i % 2 != 0:
  print('Tek')
else :
  print('cift')

  #or 

print('Tek' if i % 2 != 0 else 'cift')    #dogru olanin ciktisi basa yazilir.

Tek
Tek

In [ ]:
audience_group = 'kid', 'teen', 'adult'

audience = "teen"

if audience in audience_group:    #Firslty we checked this condition. If this condition is false, it will be automaticly returned to the last line
    if audience == "kid":
        print("it is free to go to cinema")
    elif audience == "teen":
        print("discounted price!")
    else: # audience == "adult":
        print("normal price")
else:
    print("No such audience, stay at your home!")

discounted price!

In [ ]:
grocery_store = False

check = input('Gibt es ein Supermarkt in der Nähe? : ')
if check == 'ja' :
    grocery_store = True

if grocery_store == True :
    ingredients = input('Schreiben Sie bitte, welche Zutaten Sie schon haben')
    if 'hamburger bread' and 'minced meat' and 'lettuce' or 'pepper' in ingredients :
        print('Bon Appetit')
    else : 
         print('Es fehlen leider manche Zutaten')

else :
    print('Leider gibt es kein Supermarkt in der Nähe')

Gibt es ein Supermarkt in der Nähe? : ja
Schreiben Sie bitte, welche Zutaten Sie schon habenhamburger bread
Es fehlen leider manche Zutaten

In [ ]:
a = 'twelve plus one'
b = 'eleven plus two'

a = set(a)
b = set(b)

check = a==b 
if check :
    print('We are the same')

We are the same

In [ ]:
number = int(input('Enter a number : '))

if number % 2 == 0 :
    print(f'The Number {number} is even')
else :
    print(f'The number {number} is odd')

Enter a number : 25
The number 25 is odd

In [ ]:
number = int(input('Enter a number : '))

print({number%2 == 0} and f'{number} is even' or f'{number}is odd.')

Enter a number : 14
14 is even

##Without if statements 2 Examples

##Changing the input upper, lower or remove the space

In [ ]:
number = int(input('Enter a number : '))

print({number%2 == 0} and f'{number} is even' or f'{number}is odd.')

Enter a number : 14
14 is even

In [ ]:
answer = input('write yes or no : ').title() == 'Yes' #Auch wenn der Benutzer mit einem Großbuchstaben eintritt, machen wir nur den Anfangsbuchstaben groß
print('You entered :' , answer)

write yes or no : NO
You entered : False

In [ ]:
answer = input('write yes or no : ').title().strip() == 'Yes'   #Wir haben auch die Leerzeichen entfernt. Gibt die richtige Endung zurück, auch wenn der Benutzer ein Leerzeichen eingibt
print('You entered :' , answer)

write yes or no :     yes
You entered : True

In [ ]:
number1 = int(input('Enter a number'))
number2 = int(input('Enter a number'))
number3 = int(input('Enter a number'))
largest = number1

if number2 > largest :
    largest = number2           #pythonic cözüm --> print(max(number1,number2,number3))
if number3 > largest :
    largest = number3

print(f'The largest number is {largest}')

Enter a number18
Enter a number7
Enter a number2
The largest number is 18

In [ ]:
###with eval() method we can write the same code in a line
print(max(eval(input('Enter the numbers'))))    #we can write numbers with , more than one by eval method

Enter the numbers14, 27, 32
32

##Nested If

In [ ]:
note = int(input('Enter your note : '))

if note >= 90 :
    if note >=95 :
        print('your degree : A+')
    else :
        print('your degree : A')
elif note >=80 :
    if note >= 85 :
        print('your degree : B+')
    else :
        print('your degree : B')
else :
    print('your degree : F')

Enter your note : 84
your degree : B

In [ ]:
ps4_price = 300
saved_amount = int(input('Please enter your saved amount: '))

if saved_amount < ps4_price/2 :
  print("You must save more, keep saving!")
elif saved_amount > ps4_price/2 and saved_amount < ps4_price:
  print("You saved more than half, keep saving!")

else :
  print("Yippee! You can buy your PS4")

Please enter your saved amount: 99
You must save more, keep saving!

##CHECK PRIME NUMBER

In [ ]:
sayi = input('Enter a number to chek if it is prime number : ')
count = 0
if sayi.isdigit() :
    sayi = int(sayi)
    for i in range(2, sayi) :
        if sayi % i == 0 :
            count += 1 
    if count > 0 :
        print(f'Number {sayi} is not a prime number')

    else :  
        print(f'Number {sayi} is a prime number')
else :
        print('The input is not a number')

Enter a number to chek if it is prime number : 20
Number 20 is not a prime number

In [ ]:
my_list = []
count = 0
toplam = 0
while True :
  numbers = input('Enter the number')
  count += 1
  if numbers.isdigit() :
    numbers = int(numbers)
    my_list.append(numbers)
  else :
    break
for i in my_list :
  toplam += i
avg = toplam / count-1
print(f'Girilen sayi : {count-1}')
print(f'The sum of the entered number is = {toplam} \nThe average of the numbers is = {avg}')

Enter the number15
Enter the number25
Enter the number30
Enter the numberasdasd
Girilen sayi : 3
The sum of the entered number is = 70
The average of the numbers is = 16.5

In [ ]:
prime = []    ## GIRDIGIMIZ SAYILARDAN ASAL OLANLARI LISTEYE AL. YAPAMADIMM BIR DAHA BAK SONRA
count = 0
status = True 
while True :
  numbers = input('Enter the numbers : ')
  if numbers.isdigit() :
    numbers = int(numbers)
    for i in range(2,numbers) :
      if numbers % i == 0 :
        print('sayi: ', i)
        count += 1
        print('counter : ', count)
      if count > 0 :
          continue
      if status :
          prime.append(i)
          print(prime)
  elif numbers == 'Done' :
    break  
  else :
    print('You didnt enter a number. Try again!!!')
  
print(prime)

Enter the numbers : 7
[2]
[2, 3]
[2, 3, 4]
[2, 3, 4, 5]
[2, 3, 4, 5, 6]

KeyboardInterrupt: ignored

#Sum of the prime Numbers 0-100

In [ ]:
prime=[]  # created an empty list to collect prime numbers in it

for num in range(2, 101):
    status = True
    for i in range(2, num):
        if num % i == 0: # check if the only factors are 1 and itself
            status = False
    if status:
        prime.append(num)  # collect prime numbers in the list

print(prime)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

In [ ]:
prime = []
count = 0

for num in range(2,101) :
  status = True 
  for i in range(2,num):
    if num % i == 0:
      status = False 
    
  if status :
      prime.append(num)
    
print(prime)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

##FizzBuzz

In [ ]:
#CARPMA ISLEMINI * KULLANMADAN YAPMA
a = 8
b = 6
t = 0

for i in range(b) :
  t = a + t

print(a, '*', b, '=', t)

8 * 6 = 48

In [ ]:
my_list= list(range(1,101))

for i in my_list :
  if (i % 3 == 0) and (i % 5 == 0) :
    print('FizzBuzz', end = ' ')
  elif i % 3 == 0 :
    print('Fizz', end = ' ')
  elif i % 5 == 0:
    print('Buzz',end = ' ')
  else :
    print(i, end = ' ')

1 2 Fizz 4 Buzz Fizz 7 8 Fizz Buzz 11 Fizz 13 14 FizzBuzz 16 17 Fizz 19 Buzz Fizz 22 23 Fizz Buzz 26 Fizz 28 29 FizzBuzz 31 32 Fizz 34 Buzz Fizz 37 38 Fizz Buzz 41 Fizz 43 44 FizzBuzz 46 47 Fizz 49 Buzz Fizz 52 53 Fizz Buzz 56 Fizz 58 59 FizzBuzz 61 62 Fizz 64 Buzz Fizz 67 68 Fizz Buzz 71 Fizz 73 74 FizzBuzz 76 77 Fizz 79 Buzz Fizz 82 83 Fizz Buzz 86 Fizz 88 89 FizzBuzz 91 92 Fizz 94 Buzz Fizz 97 98 Fizz Buzz

In [ ]:
for i in range(1, 101) :
  if (i % 3 == 0) and (i % 5 == 0) :
    print('FizzBuzz')
  elif i % 3 == 0 :
    print('Fizz')
  elif i % 5 == 0 :
    print('Buzz')
  else :
    print(i)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
Fizz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
Fizz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
Fizz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
Fizz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
Fizz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
Fizz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz
Buzz

In [ ]:
for i in range(1, 101) :      #same code as above
  if (i % 3 == 0) and (i % 5 != 0):
    print('Fizz')
  elif (i % 5 == 0) and (i % 3 != 0):
    print('Buzz')
  elif ( i % 3 == 0) and (i % 5 == 0) :
    print('FizzBuzz')
  else :
    print(i)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
FizzBuzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
FizzBuzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
FizzBuzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz
Buzz

In [ ]:
sample_list = [{"section":5, "topic":2}, 'clarusway', [1, 4], 2020, 3.14, 1+618j, False, (10, 20)]

for i in range(len(sample_list)) :
    tip =type(sample_list[i])
    eleman = sample_list[i]
    print(f'The type of {eleman} is {tip}')

The type of {'section': 5, 'topic': 2} is <class 'dict'>
The type of clarusway is <class 'str'>
The type of [1, 4] is <class 'list'>
The type of 2020 is <class 'int'>
The type of 3.14 is <class 'float'>
The type of (1+618j) is <class 'complex'>
The type of False is <class 'bool'>
The type of (10, 20) is <class 'tuple'>

#-----------WHILE SCHLEIFEN---------

#To find the longest word in a text

In [ ]:
cumle = input("Give me a sentence..:")      #normalde calismasi gerekiyor. ayni kod baska yerde calisiyor. Pythonic cözüm
kelime = cumle.split()  #kelime listesi
enuzun = max(kelime, key=len)
print(f"En uzun kelime.:: {enuzun} ve karakter sayısı..:{len(enuzun)}")

Give me a sentence..:ali sniff geldi

TypeError: ignored

In [ ]:
sentence = input('Enter a sentence')
sentence = list(sentence.split())
word = 0
max = 0
deger = None
while word < len(list(sentence))  :
  word += 1
  if len(sentence[word-1]) > max :
    max= len(sentence[word-1])
    deger = sentence[word-1]

print(f'En uzun kelime : {deger} \nKelime uzunlugu : {max}')

Enter a sentenceMERHAB BEN DOGUKAN ISTANBULDAN BUGÜNNNNNNNNNNNNN GELDIMMMMMMM
En uzun kelime : BUGÜNNNNNNNNNNNNN
Kelime uzunlugu : 17

In [ ]:

while True :
  age = input('Enter your age : ')
  if age.isdigit():
    print('Thank you !')
    break
  else :
    print('You entered wrong character')
    continue

Enter your age : kasjna
You entered wrong character
Enter your age : öalskdo
You entered wrong character
Enter your age : iowioiwoiw
You entered wrong character
Enter your age : 1992992
Thank you !

In [ ]:
from random import *
number = randint(0,100)
count = 0 
while True :
  guess = input('Enter a number : ')
  guess = int(guess)
  count += 1
  if guess < number :
    print('Your guess is less than the number')
  elif guess > number :
    print('Your guess higher than the number')
  else :
    print(f'Bravooo!!! You entered the correct number. Your try : {count}')
    break

Enter a number : 18
Your guess is less than the number
Enter a number : 50
Your guess is less than the number
Enter a number : 70
Your guess higher than the number
Enter a number : 60
Your guess is less than the number
Enter a number : 65
Your guess is less than the number
Enter a number : 68
Your guess higher than the number
Enter a number : 66
Your guess is less than the number
Enter a number : 67
Bravooo!!! You entered the correct number. Your try : 8

In [ ]:
#endless loop for traffic light
while True :
  sensor = input('The color of light :')
  if sensor == 'red' :
    print("STOP!")
  elif sensor == 'Yellow' :
    print("Be ready!")
  elif sensor == 'Green' :
    print('Pass!')
  else :
    print("ERROR")
    break

The color of light :red
STOP!
The color of light :Green
Pass!
The color of light :Yellow
Be ready!
The color of light :abcd
ERROR

In [ ]:
n = 0
while n < 10 :      #aber die 10 ist nich nicht erreicht!
    print(n, end = " ")
    n += 1
print('\n')
for i in range (0,10) : #das auch       #die Beide Schleifen sind gleich
    print(i ,end = ' ')

0 1 2 3 4 5 6 7 8 9

0 1 2 3 4 5 6 7 8 9

In [ ]:
meine_nummer = 45
num = -1    ##Wenn ich diese Zahl nicht eingegeben würde, wird das Ergebniss automatisch die letzte Zeile. Weil meine_nummer = 45 

while meine_nummer != num :
    num = int(input('Erraten Sie bitte die Zahl : '))
    if meine_nummer > num :
        print('Deine Zahl ist kleiner als meine')
        continue
    elif num > meine_nummer :
        print('Deine Zahl ist größer als meine')
        continue 
    else :
        break
print('Du hast die Nummer gefunden! Herzlichen Glückwunsch')

Erraten Sie bitte die Zahl : 38
Deine Zahl ist kleiner als meine
Erraten Sie bitte die Zahl : 45
Du hast die Nummer gefunden! Herzlichen Glückwunsch

In [ ]:
for i in ['n1' , 'one', 'n2' , 'two'] :
  print(i)
print('\n')           #look at the difference between this two codes
for i in {'n1' : 'one', 'n2' : 'two'} :
  print(i)

n1
one
n2
two


n1
n2

In [ ]:
times = int(input('How many times should i say Hello!! '))
for i in range(times) :
  print('Hello!!')

How many times should i say Hello!! 3
Hello!!
Hello!!
Hello!!

In [ ]:
my_list = []
sum1 = 0
while True :
  value = input("Enter a number")
  if value == 'done' :
    break 
  else :
    value = int(value)
    my_list.append(value)
  
for i in range(0,len(my_list)) :
  sum1 += my_list[i]


average = sum1 / len(my_list)

print(f'The sum of the numbers is :  {sum1} \nThe average of the numbers is : {average}')

Enter a number45
Enter a number55
Enter a number80
Enter a numberdone
The sum of the numbers is : 180
The average of the numbers is : 60.0

#---------**FOR** -----------

## FOR LU DÖNGÜYÜ TEK SATIRDA YAZABILMEK

In [58]:
squares = []
for i in range(10):
  squares.append(i * i )
print('listem = ', squares)

####!!!!!!!!!EGER TEK SATIRA INDIRMEK ISTERSEM
listem_squares = [i * i for i in range(10)]
print('listem tek satirda yazdigim = ', listem_squares)

listem =  [0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
listem tek satirda yazdigim =  [0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [59]:
evens_number = [i for i in range(0,25) if i % 2 == 0] #IF komutunun dogru oldugu durumda olmasini sitedigimiz olayi
                                                      #IF komutundan önce yazmamiz lazim. Else'den sonra olmasini istedigimiz
                                                      #ELSE komutundan sonra yazariz.
                                                      #2 alt örnege bak orada else li haliyle nasil yazidligi görülüyor
                                                      #for döngüsü kosullardan sonra yazilir
print(evens_number)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24]

In [65]:
names_a = []      #BUNA BIR DAHA BAK. TAM ANLAMADIM
names = ['Python', 'Aisha', ' Bulend', 'Ala', 'Ahmed']

names = [i for i in names  if 'a' in i.lower()]
print(names)      #ismi a ile baslayanlari ekledik

['Aisha', 'Ala', 'Ahmed']

In [67]:
#Wenn die Zahl gerade ist, füge die Zahl gleich hinzu. 
#Wenn die Zahl ungerade ist, füge das Quadrat der Zahl hinzu
my_list = []

my_list = [i if i % 2 == 0 else i ** 2 for i in range(10) ]
print(my_list)

[0, 1, 2, 9, 4, 25, 6, 49, 8, 81]

In [68]:
print(sum([i for i in range(75)]))

2775

In [69]:
#cümle icindeki sesli veya sessiz harfleri yazdirma
sentence = 'Mistakes are for the people'        #BIR DAHA BAK ANALAMDIM
print(set(i for i in sentence if not i in 'aeiou')

SyntaxError: ignored

## FOR EXAMPLES

In [76]:
##0-100 for döngüsü bin hex sistemiyle ##
print("ONLU\tIKILI\tSEKIZLI\tONALTILI")
print("-----\t------\t------\t-------")
for i in range(10) :
  print(f'{i}\t{bin(i)}\t{oct(i)}\t{hex(i)}')

ONLU	IKILI	SEKIZLI	ONALTILI
-----	------	------	-------
0	0b0	0o0	0x0
1	0b1	0o1	0x1
2	0b10	0o2	0x2
3	0b11	0o3	0x3
4	0b100	0o4	0x4
5	0b101	0o5	0x5
6	0b110	0o6	0x6
7	0b111	0o7	0x7
8	0b1000	0o10	0x8
9	0b1001	0o11	0x9

In [49]:
names = ['susan', 'tom', 'edward']
mood = ['happy', 'sad']

for i in names :
  for ii in mood :
    print(i,'is', ii)

susan is happy
susan is sad
tom is happy
tom is sad
edward is happy
edward is sad

In [ ]:
liste = [11, 2, 24,61, 48 ,33 ,3]
count = 0
count1 = 0
for i in liste :
  if i % 2 == 0:
    count += 1
  else :
    count1 += 1
print('The number of even numbers : ', count)
print('The number of odd numbers : ', count1)

The number of even numbers :  3
The number of odd numbers :  4

In [ ]:
evens = []
odd = []

for i in range(1,10) :
  if i % 2 == 0:
    evens.append(i)
  else :
    odd.append(i)

print('evens = ', evens)
print('odd = ', odd)

evens =  [2, 4, 6, 8]
odd =  [1, 3, 5, 7, 9]

In [ ]:
####ITERABLE NESNELER ÜZERINDE DOLASIM SAGLAR(SET, DICT, STR, TUPPLE LIST, INT ....)

In [ ]:
course = input('course name : ')
for i in course :
  print(i, end = '-')
print('\b') # to delete the last character. Here is the last character '-'

course name : clarusway
c-l-a-r-u-s-w-a-y-

In [ ]:
course = input('course name : ')      #same code with join method
print('-'.join(course))

course name : clarusway
c-l-a-r-u-s-w-a-y

#Dict in for loops - Just take the keys or values OR THE BOTH

In [ ]:
user = {
    'name' :'Daniel',
    'surname' : 'Smith',
    'age' : 35
}
for attribute in user:      #default in user.keys()
  print(attribute)

In [ ]:
user = {
    'name' :'Daniel',
    'surname' : 'Smith',
    'age' : 35
}
for attribute in user.values():
  print(attribute)

Daniel
Smith
35

In [ ]:
user = {
    'name' :'Daniel',
    'surname' : 'Smith',
    'age' : 35
}
for attribute,value in user.items() :
  print(attribute,' : ', value)

name  :  Daniel
surname  :  Smith
age  :  35

In [ ]:
text = ['one', 'two', 'three', 'four', 'five']
nums = [1, 2, 3, 4, 5]

for k, v in zip(text, nums) :
  print(k, ': ', v)

one :  1
two :  2
three :  3
four :  4
five :  5

In [ ]:
my_list = []
for i in range(1,6) :
  my_list.append(i)

print(my_list )

[1, 2, 3, 4, 5]

## CONTINUE COMMAND IN FOR LOOPS

In [53]:
for i in range(0,10) :
  if i % 2 != 0 :   #Wenn es richtig ist, geh die nächste Zeile über.
    continue        
  print(i , end = ' ') ###hier

0 2 4 6 8

##for loops in strings

In [ ]:
course = 'clarusway'
for i in course :
  print(i)

c
l
a
r
u
s
w
a
y

In [ ]:
names = ['Dogu', 'Max', 'Timo', 'Müller']
for i in names :
  print(i, end = ' ')

Dogu Max Timo Müller

In [ ]:
for i in range(0, 50, 2) : #just even numbers
  print(i)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48

In [ ]:
n = int(input('Enter a number'))
for i in range(11) :
  print(f'{n} x {i} = ', i*n)

Enter a number8
8 x 0 =  0
8 x 1 =  8
8 x 2 =  16
8 x 3 =  24
8 x 4 =  32
8 x 5 =  40
8 x 6 =  48
8 x 7 =  56
8 x 8 =  64
8 x 9 =  72
8 x 10 =  80

In [ ]:
number = int(input('Enter a number : '))
f= 1
for i in range(number,0,-1) :
  f = f * i
print(f'{number}! = {f}')

Enter a number : 7
7! = 5040

#Range * ILE ACMA

In [ ]:
a = list(range(10))
print(a)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
b = tuple(range(10))
print(b)

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [ ]:
c = set(range(10))
print(c)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [ ]:
print(range(10))      #Look at the difference 
print(*range(10))

range(0, 10)
0 1 2 3 4 5 6 7 8 9

In [ ]:
print(range(0,25,2))
print(*range(0,25,2))

range(0, 25, 2)
0 2 4 6 8 10 12 14 16 18 20 22 24

In [ ]:
print(*('Hello Dogukan'))

H e l l o   D o g u k a n

##USING ZIP METHOD WITH FOR LOOPS TO BECOME AN OUTOUT IN SEPERATE LINE

In [ ]:
text = ['one','two','three','four','five']
numbers = [1, 2, 3, 4, 5]
print(dict(zip(text,numbers)))

#LOOK AT THE DIFFERENCE

for x, y in zip(text, numbers) :
  print(x, ':', y)

{'one': 1, 'two': 2, 'three': 3, 'four': 4, 'five': 5}
one : 1
two : 2
three : 3
four : 4
five : 5

##NESTED FOR

###Piramit olsuturma isim veya sayi ile

In [36]:
word = 'BULEND'
for i in range (0, len(word)) :
  for ii in range(0,i+1) :
    print(word[i], end = ' ')
  print()

B
U U
L L L
E E E E
N N N N N
D D D D D D

In [ ]:
for i in range(1,10) :
  for ii in range(1,i+1) :
    print(i,end = ' ')
  print()  #Wenn ich diese Zeile nicht geschrieben hätte, wäre ich die nächste Linie nicht übergegangen.

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5
6 6 6 6 6 6
7 7 7 7 7 7 7
8 8 8 8 8 8 8 8
9 9 9 9 9 9 9 9 9

In [38]:
#or 
for i in range(1,10):
  print(str(i) * i)

1
22
333
4444
55555
666666
7777777
88888888
999999999

In [ ]:
for i in range (0,10) : ####!!!!!!!!!!!!!!!!!!###############
  for j in range(0,10):
    print(i, j, i * j)

0 0 0
0 1 0
0 2 0
0 3 0
0 4 0
0 5 0
0 6 0
0 7 0
0 8 0
0 9 0
1 0 0
1 1 1
1 2 2
1 3 3
1 4 4
1 5 5
1 6 6
1 7 7
1 8 8
1 9 9
2 0 0
2 1 2
2 2 4
2 3 6
2 4 8
2 5 10
2 6 12
2 7 14
2 8 16
2 9 18
3 0 0
3 1 3
3 2 6
3 3 9
3 4 12
3 5 15
3 6 18
3 7 21
3 8 24
3 9 27
4 0 0
4 1 4
4 2 8
4 3 12
4 4 16
4 5 20
4 6 24
4 7 28
4 8 32
4 9 36
5 0 0
5 1 5
5 2 10
5 3 15
5 4 20
5 5 25
5 6 30
5 7 35
5 8 40
5 9 45
6 0 0
6 1 6
6 2 12
6 3 18
6 4 24
6 5 30
6 6 36
6 7 42
6 8 48
6 9 54
7 0 0
7 1 7
7 2 14
7 3 21
7 4 28
7 5 35
7 6 42
7 7 49
7 8 56
7 9 63
8 0 0
8 1 8
8 2 16
8 3 24
8 4 32
8 5 40
8 6 48
8 7 56
8 8 64
8 9 72
9 0 0
9 1 9
9 2 18
9 3 27
9 4 36
9 5 45
9 6 54
9 7 63
9 8 72
9 9 81

In [ ]:
for i in range(0,10) :  
  for j in range(0,10) :
    print(f'{i} * {j} = {i*j}')
  print(' ')

0 * 0 = 0
0 * 1 = 0
0 * 2 = 0
0 * 3 = 0
0 * 4 = 0
0 * 5 = 0
0 * 6 = 0
0 * 7 = 0
0 * 8 = 0
0 * 9 = 0

1 * 0 = 0
1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9

2 * 0 = 0
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

3 * 0 = 0
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27

4 * 0 = 0
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36

5 * 0 = 0
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45

6 * 0 = 0
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54

7 * 0 = 0
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63

8 * 0 = 0
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72

9 * 0 = 0
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

In [ ]:
number = int(input('enter a number : '))
for i in range(11) :
  print(f'{number} * {i} = {number*i}')

enter a number : 8
8 * 0 = 0
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
8 * 10 = 80

In [ ]:
for i in range(5,6) :
  for ii in range(0,11) :
    print(f'{i} * {ii} = {i*ii}')

5 * 0 = 0
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

#-------------FUNCTIONS-----------------

##def function

In [ ]:
def selamlama() :
  return 'Hallo. Hezlich Wilkommen auf dem Thema def'

selamlama()

'Hallo. Hezlich Wilkommen auf dem Thema def'

In [ ]:
def sum(a, b) :
  summe = a + b
  return summe

number1 = int(input('Enter a number : '))
number2 = int(input('Enter another number : '))

sum(number1,number2)

Enter a number : 14
Enter another number : 23

37

In [ ]:
def carpma(a, b, c) :
  sonuc = a * b * c
  return sonuc

num1 = int(input('Enter the first number'))
num2 = int(input('Enter the second number'))
num3 = int(input('Enter the third number'))

print(carpma(num1, num2, num3))

Enter the first number12
Enter the second number24
Enter the third number24
6912

In [ ]:
def selamlama(name1, name2, herkunft = 'Universe') :
  return f'Hello {name1} and {name2} from {herkunft}'

name1 = input('Enter your name : ')
name2 = input('Enter your name : ')

selamlama(name1,name2)   #Yukardaki degiskenlerden birisi tanimlanmis oldugu icin 2 tane deger girmem yeterli

Enter your name : dogukan
Enter your name : teemo

'Hello dogukan and teemo from Universe'

In [ ]:
def selamlama(name1, name2, name3) :
  return f'Hello {name1} and {name2} from the Universe'

name1 = input('Enter your name')
name2 = input('Enter your name')

selamlama(name1,name2)      #Eger burda 2 degisken atarsam hata verir. Cünkü def fonksiyonunu icinde 3 degisken var

Enter your name
Enter your nameasd

TypeError: ignored