<a href="https://colab.research.google.com/github/DogukanCifci/PYTHON-PRACTICE/blob/main/LOOPS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#------RISK ESTIMATING----########

## With in() Method

In [ ]:
message = "Please answer all questions with yes or no " 
print(message,'\n')
age = input('Are you a cigarette addict older than 75 years old? : ')
chronic = input('Do you have a severe chronic disease? : ')
immune = input('Is your immune system too weak? : ')

if age in ('yes', 'no') and chronic in ('yes', 'no') and immune in ('yes', 'no') :  #Burda bütün keyleri yazmak yerine input in(yes or no) gibi hepsini kapsayacak bir keyword var mi ??
  if age == 'no' and chronic == 'no' and  immune == 'no' :
    print('You are not in risky group')
  else :
    answer = False
    print('You are in risky group')

else :
  print('Please answer only with yes or no')

Please answer all questions with yes or no

Are you a cigarette addict older than 75 years old? : yes
Do you have a severe chronic disease? : aslödka
Is your immune system too weak? : no
Please answer only with yes or no

In [ ]:
message = "Please answer all questions with yes or no " ##Actually it is the same as above code
print(message,'\n')
age = input('Are you a cigarette addict older than 75 years old? : ')
chronic = input('Do you have a severe chronic disease? : ')
immune = input('Is your immune system too weak? : ')

if age in ('yes', 'no') and chronic in ('yes', 'no') and immune in ('yes', 'no') :
  if age == 'no' and chronic == 'no' and  immune == 'no' :
    answer = True
  else :
    answer = False
  
  if answer :             #That means if answer == True
    print('You are not in risky group')
  
  else :
    print('You are in risky group')

else :
  print('Please answer only with yes or no')

Please answer all questions with yes or no

Are you a cigarette addict older than 75 years old? : yes
Do you have a severe chronic disease? : no
Is your immune system too weak? : no
You are in risky group

#------MAIL CHECK-----

In [ ]:
while True :
    mail = input("Enter your Email adress")

    control = ('@' and '.' in mail) and mail.endswith('com')
    loc1 = mail.find('@')
    loc2 = mail.find('.', loc1)

    if control == False or loc2 < loc1 :
        print('Invalid Email')
        continue
    
    elif loc2 > loc1 and control == True :
        break
 
print('Valid Email')

Enter your Email adresssadasd
Invalid Email
Enter your Email adressöasd
Invalid Email
Enter your Email adressasd@.com
Valid Email

#-------IF STATEMENTS------

In [ ]:
audience_group = 'kid', 'teen', 'adult'

audience = "teen"

if audience in audience_group:    #Firslty we checked this condition. If this condition is false, it will be automaticly returned to the last line
    if audience == "kid":
        print("it is free to go to cinema")
    elif audience == "teen":
        print("discounted price!")
    else: # audience == "adult":
        print("normal price")
else:
    print("No such audience, stay at your home!")

discounted price!

In [ ]:
grocery_store = False

check = input('Gibt es ein Supermarkt in der Nähe? : ')
if check == 'ja' :
    grocery_store = True

if grocery_store == True :
    ingredients = input('Schreiben Sie bitte, welche Zutaten Sie schon haben')
    if 'hamburger bread' and 'minced meat' and 'lettuce' or 'pepper' in ingredients :
        print('Bon Appetit')
    else : 
         print('Es fehlen leider manche Zutaten')

else :
    print('Leider gibt es kein Supermarkt in der Nähe')

Gibt es ein Supermarkt in der Nähe? : ja
Schreiben Sie bitte, welche Zutaten Sie schon habenhamburger bread
Es fehlen leider manche Zutaten

In [ ]:
a = 'twelve plus one'
b = 'eleven plus two'

a = set(a)
b = set(b)

check = a==b 
if check :
    print('We are the same')

We are the same

In [ ]:
number = int(input('Enter a number : '))

if number % 2 == 0 :
    print(f'The Number {number} is even')
else :
    print(f'The number {number} is odd')

Enter a number : 25
The number 25 is odd

In [ ]:
number = int(input('Enter a number : '))

print({number%2 == 0} and f'{number} is even' or f'{number}is odd.')

Enter a number : 14
14 is even

##Without if statements 2 Examples

##Changing the input upper, lower or remove the space

In [ ]:
number = int(input('Enter a number : '))

print({number%2 == 0} and f'{number} is even' or f'{number}is odd.')

Enter a number : 14
14 is even

In [ ]:
answer = input('write yes or no : ').title() == 'Yes' #Auch wenn der Benutzer mit einem Großbuchstaben eintritt, machen wir nur den Anfangsbuchstaben groß
print('You entered :' , answer)

write yes or no : NO
You entered : False

In [ ]:
answer = input('write yes or no : ').title().strip() == 'Yes'   #Wir haben auch die Leerzeichen entfernt. Gibt die richtige Endung zurück, auch wenn der Benutzer ein Leerzeichen eingibt
print('You entered :' , answer)

write yes or no :     yes
You entered : True

In [ ]:
number1 = int(input('Enter a number'))
number2 = int(input('Enter a number'))
number3 = int(input('Enter a number'))
largest = number1

if number2 > largest :
    largest = number2           #pythonic cözüm --> print(max(number1,number2,number3))
if number3 > largest :
    largest = number3

print(f'The largest number is {largest}')

Enter a number18
Enter a number7
Enter a number2
The largest number is 18

In [ ]:
###with eval() method we can write the same code in a line
print(max(eval(input('Enter the numbers'))))    #we can write numbers with , more than one by eval method

Enter the numbers14, 27, 32
32

##Nested If

In [ ]:
note = int(input('Enter your note : '))

if note >= 90 :
    if note >=95 :
        print('your degree : A+')
    else :
        print('your degree : A')
elif note >=80 :
    if note >= 85 :
        print('your degree : B+')
    else :
        print('your degree : B')
else :
    print('your degree : F')

Enter your note : 84
your degree : B

In [26]:
ps4_price = 300
saved_amount = int(input('Please enter your saved amount: '))

if saved_amount < ps4_price/2 :
  print("You must save more, keep saving!")
elif saved_amount > ps4_price/2 and saved_amount < ps4_price:
  print("You saved more than half, keep saving!")

else :
  print("Yippee! You can buy your PS4")

Please enter your saved amount: 99
You must save more, keep saving!

In [42]:
number = int(input("Enter a number "))
count = 0
for i in range(1, number+1) :
  if number % i == 0 :
    count+= 1
    
  else :
    count += 0

if count > 2 :
  print(f'{number} is not a prime number')

else :
  print(f'{number} is a prime number')

Enter a number 97
97 is a prime number

In [53]:
prime=[]  # created an empty list to collect prime numbers in it

for num in range(2, 101):
    status = True
    for i in range(2, num):
        if num % i == 0: # check if the only factors are 1 and itself
            status = False
    if status:
        prime.append(num)  # collect prime numbers in the list

print(prime)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

#Sum of the prime Numbers 0-100

In [56]:
prime = []
count = 0

for num in range(2,101) :
  status = True 
  for i in range(2,num):
    if num % i == 0:
      status = False 
    
  if status :
      prime.append(num)
    
print(prime)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

##FizzBuzz

In [ ]:
for i in range(1, 101) :
  if (i % 3 == 0) and (i % 5 == 0) :
    print('FizzBuzz')
  elif i % 3 == 0 :
    print('Fizz')
  elif i % 5 == 0 :
    print('Buzz')
  else :
    print(i)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
Fizz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
Fizz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
Fizz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
Fizz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
Fizz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
Fizz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz
Buzz

In [ ]:
for i in range(1, 101) :      #same code as above
  if (i % 3 == 0) and (i % 5 != 0):
    print('Fizz')
  elif (i % 5 == 0) and (i % 3 != 0):
    print('Buzz')
  elif ( i % 3 == 0) and (i % 5 == 0) :
    print('FizzBuzz')
  else :
    print(i)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
FizzBuzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
FizzBuzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
FizzBuzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz
Buzz

In [37]:
sample_list = [{"section":5, "topic":2}, 'clarusway', [1, 4], 2020, 3.14, 1+618j, False, (10, 20)]

for i in range(len(sample_list)) :
    tip =type(sample_list[i])
    eleman = sample_list[i]
    print(f'The type of {eleman} is {tip}')

The type of {'section': 5, 'topic': 2} is <class 'dict'>
The type of clarusway is <class 'str'>
The type of [1, 4] is <class 'list'>
The type of 2020 is <class 'int'>
The type of 3.14 is <class 'float'>
The type of (1+618j) is <class 'complex'>
The type of False is <class 'bool'>
The type of (10, 20) is <class 'tuple'>

#-----------WHILE SCHLEIFEN---------

In [ ]:
n = 0
while n < 10 :      #aber die 10 ist nich nicht erreicht!
    print(n, end = " ")
    n += 1
print('\n')
for i in range (0,10) : #das auch       #die Beide Schleifen sind gleich
    print(i ,end = ' ')

0 1 2 3 4 5 6 7 8 9

0 1 2 3 4 5 6 7 8 9

In [ ]:
meine_nummer = 45
num = -1    ##Wenn ich diese Zahl nicht geben würde, wird das Ergebniss automatisch die letzte Zeile. Weil meine_nummer = 45 

while meine_nummer != num :
    num = int(input('Erraten Sie bitte die Zahl : '))
    if meine_nummer > num :
        print('Deine Zahl ist kleiner als meine')
        continue
    elif num > meine_nummer :
        print('Deine Zahl ist größer als meine')
        continue 
    else :
        break
print('Du hast die Nummer gefunden! Herzlichen Glückwunsch')

Erraten Sie bitte die Zahl : 38
Deine Zahl ist kleiner als meine
Erraten Sie bitte die Zahl : 45
Du hast die Nummer gefunden! Herzlichen Glückwunsch

In [5]:
for i in ['n1' , 'one', 'n2' , 'two'] :
  print(i)
print('\n')           #look at the difference between this two codes
for i in {'n1' : 'one', 'n2' : 'two'} :
  print(i)

n1
one
n2
two


n1
n2

In [6]:
times = int(input('How many times should i say Hello!! '))
for i in range(times) :
  print('Hello!!')

How many times should i say Hello!! 3
Hello!!
Hello!!
Hello!!

#---------FOR -----------

In [ ]:
names = ['Dogu', 'Max', 'Timo', 'Müller']
for i in names :
  print(i, end = ' ')

Dogu Max Timo Müller

In [ ]:
for i in range(0, 50, 2) : #just even numbers
  print(i)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48

In [8]:
n = int(input('Enter a number'))
for i in range(11) :
  print(f'{n} x {i} = ', i*n)

Enter a number8
8 x 0 =  0
8 x 1 =  8
8 x 2 =  16
8 x 3 =  24
8 x 4 =  32
8 x 5 =  40
8 x 6 =  48
8 x 7 =  56
8 x 8 =  64
8 x 9 =  72
8 x 10 =  80

In [10]:
a = list(range(10))
print(a)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [11]:
b = tuple(range(10))
print(b)

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [13]:
c = set(range(10))
print(c)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [14]:
print(range(10))      #Look at the difference 
print(*range(10))

range(0, 10)
0 1 2 3 4 5 6 7 8 9

In [16]:
print(range(0,25,2))
print(*range(0,25,2))

range(0, 25, 2)
0 2 4 6 8 10 12 14 16 18 20 22 24

In [17]:
print(*('Hello Dogukan'))

H e l l o   D o g u k a n

##USING ZIP METHOD WITH FOR LOOPS TO BECOME AN OUTOUT IN SEPERATE LINE

In [21]:
text = ['one','two','three','four','five']
numbers = [1, 2, 3, 4, 5]
print(dict(zip(text,numbers)))

#LOOK AT THE DIFFERENCE

for x, y in zip(text, numbers) :
  print(x, ':', y)

{'one': 1, 'two': 2, 'three': 3, 'four': 4, 'five': 5}
one : 1
two : 2
three : 3
four : 4
five : 5

##NESTED FOR

In [ ]:
for i in range (0,10) : ####!!!!!!!!!!!!!!!!!!###############
  for j in range(0,10):
    print(i, j, i * j)

0 0 0
0 1 0
0 2 0
0 3 0
0 4 0
0 5 0
0 6 0
0 7 0
0 8 0
0 9 0
1 0 0
1 1 1
1 2 2
1 3 3
1 4 4
1 5 5
1 6 6
1 7 7
1 8 8
1 9 9
2 0 0
2 1 2
2 2 4
2 3 6
2 4 8
2 5 10
2 6 12
2 7 14
2 8 16
2 9 18
3 0 0
3 1 3
3 2 6
3 3 9
3 4 12
3 5 15
3 6 18
3 7 21
3 8 24
3 9 27
4 0 0
4 1 4
4 2 8
4 3 12
4 4 16
4 5 20
4 6 24
4 7 28
4 8 32
4 9 36
5 0 0
5 1 5
5 2 10
5 3 15
5 4 20
5 5 25
5 6 30
5 7 35
5 8 40
5 9 45
6 0 0
6 1 6
6 2 12
6 3 18
6 4 24
6 5 30
6 6 36
6 7 42
6 8 48
6 9 54
7 0 0
7 1 7
7 2 14
7 3 21
7 4 28
7 5 35
7 6 42
7 7 49
7 8 56
7 9 63
8 0 0
8 1 8
8 2 16
8 3 24
8 4 32
8 5 40
8 6 48
8 7 56
8 8 64
8 9 72
9 0 0
9 1 9
9 2 18
9 3 27
9 4 36
9 5 45
9 6 54
9 7 63
9 8 72
9 9 81

In [ ]:
for i in range(0,10) :  
  for j in range(0,10) :
    print(f'{i} * {j} = {i*j}')
  print(' ')

0 * 0 = 0
0 * 1 = 0
0 * 2 = 0
0 * 3 = 0
0 * 4 = 0
0 * 5 = 0
0 * 6 = 0
0 * 7 = 0
0 * 8 = 0
0 * 9 = 0

1 * 0 = 0
1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9

2 * 0 = 0
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

3 * 0 = 0
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27

4 * 0 = 0
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36

5 * 0 = 0
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45

6 * 0 = 0
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54

7 * 0 = 0
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63

8 * 0 = 0
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72

9 * 0 = 0
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

#-------------FUNCTIONS-----------------

##def function

In [ ]:
def selamlama() :
  return 'Hallo. Hezlich Wilkommen auf dem Thema def'

selamlama()

'Hallo. Hezlich Wilkommen auf dem Thema def'

In [ ]:
def sum(a, b) :
  summe = a + b
  return summe

number1 = int(input('Enter a number : '))
number2 = int(input('Enter another number : '))

sum(number1,number2)

Enter a number : 14
Enter another number : 23

37

In [ ]:
def carpma(a, b, c) :
  sonuc = a * b * c
  return sonuc

num1 = int(input('Enter the first number'))
num2 = int(input('Enter the second number'))
num3 = int(input('Enter the third number'))

print(carpma(num1, num2, num3))

Enter the first number12
Enter the second number24
Enter the third number24
6912

In [ ]:
def selamlama(name1, name2, herkunft = 'Universe') :
  return f'Hello {name1} and {name2} from {herkunft}'

name1 = input('Enter your name : ')
name2 = input('Enter your name : ')

selamlama(name1,name2)   #Yukardaki degiskenlerden birisi tanimlanmis oldugu icin 2 tane deger girmem yeterli

Enter your name : dogukan
Enter your name : teemo

'Hello dogukan and teemo from Universe'

In [ ]:
def selamlama(name1, name2, name3) :
  return f'Hello {name1} and {name2} from the Universe'

name1 = input('Enter your name')
name2 = input('Enter your name')

selamlama(name1,name2)      #Eger burda 2 degisken atarsam hata verir. Cünkü def fonksiyonunu icinde 3 degisken var

Enter your name
Enter your nameasd

TypeError: ignored